@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 25, 16;
  --background-start-rgb: 242, 245, 233;
  --background-end-rgb: 197, 211, 169;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      180deg,
      rgb(var(--background-start-rgb)) 0%,
      rgb(var(--background-end-rgb)) 100%
    );
  min-height: 100vh;
}
